*.iml
.gradle
/local.properties
/keystore.properties
*.iml
.idea/*
!.idea/copyright
!.idea/codeStyles/codeStyleConfig.xml
.DS_Store
/build
/app/google-sevices.json
/captures
.externalNativeBuild
.cxx
*.apk
