*.iml
.gradle
/local.properties
/keystore.properties
/.idea/*
.idea/*
!.idea/copyright
!.idea/codeStyles
/buildSrc/.gradle
/buildSrc/build
.DS_Store
/build
build/
/app/google-sevices.json
/captures
.externalNativeBuild
.cxx
*.apk
*.dex
*.class
TODO.txt